# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules
dist
dist-ssr
*.local

# Firebase Admin SDK key - prevent committing secrets
echo "backend/config/firebase-adminsdk.json" >> .gitignore
echo "backend/config/firebase-adminsdk.json"
backend/config/firebase-adminsdk.json
backend/config.js
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
