# Dependencies
node_modules/

# Environment
.env
.env.*

# Firebase Secrets
config/firebase-adminsdk.json
config/serviceAccountKey.json

# Build
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archives
*.zip
*.rar
*.7z

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db